<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Trough.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
				<key>dateExpires</key>
				<string>18/09/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GooglePlacesSearchController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MRCountryPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RangeSeekSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D23AFC5BF544268F9EEBE65D5E7A80B3B839EFE7</string>
						<key>dateExpires</key>
						<string>18/09/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7WZAUD3ADC</string>
						<key>name</key>
						<string>iMEDHealth, LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7WZAUD3ADC.com.iMedHealth.Trough</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>7WZAUD3ADC</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Trough.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ee141534-2a29-4a70-992a-5ad16e635db3</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.iMedHealth.Trough</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7WZAUD3ADC</string>
				<key>name</key>
				<string>iMEDHealth, LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
